* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(61, 57, 57)
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,li {
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.boxs {
    background: black;
    width: 330px;
    height: 670px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.boxs1 {
    background-color: white;
    width: 300px;
    height: 490px;
    display: flex;
    align-items: center;
}

.hello-word {
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 40px;
}

.boxs2 {
    background-color: silver;
    width: 90px;
    height: 6px;
    margin-top: -620px;
    margin-left: 525px;
    border-radius: 50px;
}

.box-oval {
    background-color: rgb(23, 23, 23);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 5px solid silver;
    margin-top: 557px;
    margin-left: 545px;
}

.boxs3 {
    background-color: rgb(37, 37, 37);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 565px;
    margin-top: -25px;
    border: 2px solid;
}

.boxs4 {
    background-color: black;
    width: 5px;
    height: 20px;
    border-radius: 5px 0px 0px 5px
}

.boxs5 {
    background-color: black;
}